@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-button{
    background-color:#f9cd5c;
}


.location-icon {
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/03/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized_layout1._CB468502409_.png");
    background-position: -68px -340px;
    background-repeat: repeat no-repeat;
    background-size: 350px;
    height: 22px;
    width: 22px;
}


#linkborder a {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 7px;
}

#linkborder a:hover {
    border-color: #5a5a5a;
}

.card-width{
 max-width: 50vw;
 width:10vw;
 min-width: 250px;
}

@media (max-width: 939px) {
  .searchicon-small {
    background-image: url("pictures/searchicon_small.png");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-left: 10px;
  }
}

@media (min-width: 0px) {
    .card-width{
        max-width: 90vw;
        min-width: 90vw;
       }
  }
@media (min-width: 609px) {
    .card-width{
        max-width: 45vw;
        min-width: 45vw;
       }
  }
@media (min-width: 843px) {
    .card-width{
        max-width: 336px;
        min-width: 250px;
       }
  }
@media (min-width: 1109px) {
    .card-width{
        max-width: 318px;
        min-width: 250px;
       }
  }
@media (min-width: 1383px) {
    .card-width{
        max-width: 302px;
        min-width: 250px;
       }
  }
@media (min-width: 1677px) {
    .card-width{
        max-width: 300px;
        min-width: 250px;
       }
  }
@media (min-width: 1937px) {
    .card-width{
        max-width: 288px;
        min-width: 250px;
       }
  }




